# Default values for sharejs.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

image:
  repository: quay.io/centerforopenscience/sharejs
  tag: develop
  pullPolicy: Always

antiAffinity: soft

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nginx:
  image:
    repository: nginx
    tag: alpine
    pullPolicy: Always
  resources: {}
    # limits:
    #   cpu: 1
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

horizontalPodAutoscaler:
  enabled: false
  maxReplicas: 3
  targetCPUUtilizationPercentage: 90

service:
  name: http
  type: ClusterIP
  externalPort: 7007
  internalPort: 80

ingress:
  enabled: false
  # Used to create Ingress record (should used with service.type: ClusterIP).
  annotations:
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  paths:
    - /
  hosts:
    - chart-example.local
  tls:
    # Secrets must be manually created in the namespace.
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local

configEnvs: {}
  # SHAREJS_CORS_ALLOW_ORIGIN: https://domain.example.com
  ## if mongodb.enabled = false
  # SHAREJS_DB_URL: mongodb://host:27017/sharejs?ssl=true

configFiles: {}
  # Override configmap files here (and delete the {} above), e.g.:
  #robots.txt: |-
  #  User-agent: *
  #  Disallow: /

secretEnvs: {}
  # SHAREJS_SENTRY_DSN: 'https://'

secretFiles: {}
  # secret.json: |-
  #   ...

tls:
  enabled: false

  #files:
  #  cert.pem: |-
  #    ...
  #  key.pem: |-
  #    ...

  # CA certs should be named in order
  #caFiles:
  #  '0-intermedate.pem': |-
  #    ...
  #  '1-root.pem': |-
  #    ...

mongodb:
  enabled: false

  image:
    repository: mongo
    tag: '3.4'
    pullPolicy: IfNotPresent

  configEnvs:
    MONGODB_DATABASE: sharejs

  secretEnvs:
    MONGODB_USERNAME: ''
    MONGODB_ROOT_PASSWORD: ''
    MONGODB_PASSWORD: ''

  ## Enable persistence using Persistent Volume Claims
  ## ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
  ##
  persistence:
    enabled: true
    ## mongodb data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    # storageClass: ''
    accessModes:
      - ReadWriteOnce
    size: 8Gi

  ## Configure resource requests and limits
  ## ref: http://kubernetes.io/docs/user-guide/compute-resources/
  ##
  resources:
    requests:
      memory: 256Mi
      cpu: 100m