### ---------- Global or Reusable parts across values.yaml ----------
image:
  repository: quay.io/centerforopenscience/angular-osf
  tag: develop
  pullPolicy: Always

nginx:
  image:
    repository: nginx
    tag: alpine
    pullPolicy: Always

## Remember that full name for all objects is '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
## or in other form current naming is Release.Name-Chart.Name

# =============== MAIN Component ===============
main:
  enabled: true

  replicas: 1

  http:
    containers:
      nginx:
        internalPort: 80
        externalPort: 80
        serviceType: ClusterIP

# ------- Configuration follows for containerName: nginx -------
  image:
    repository: "{{ .Values.nginx.image.repository }}"
    tag: "{{ .Values.nginx.image.tag }}"
    pullPolicy: "{{ .Values.nginx.image.pullPolicy }}"

  containerName: nginx

  nginx:
    modules: []
    proxySourceRanges: []
    realIpHeader: X-Real-IP
    realIpRecursive: "off"
    vts:
      enabled: false
      internalPort: 18080
      statusZoneSize: 10m
      defaultFilterKey: "$geoip_country_code country::*"
    brandedSubdomains: []
    primaryDomain: ""
    preprintDomainMap: {}
    institutionDomainMap: {}
    additionalRewrites: []
    additionalConfig: ""
    # Example additional rewrites (uncomment to use):
    # additionalRewrites:
    #   - rewrite "^/di8cg/{0,1}" https://$host/s9tya permanent;
    #   - rewrite "^/legacy-path/(.*)" https://$host/new/$1 permanent;
    #   - rewrite "^/old-section$" /index.html break;
    mirror:
      enabled: false
      domain: mirror.example.local
    redirects:
      enabled: false
      domains: []

  share:
    url: "share.osf.io"

  command:
    - nginx
    - -c
    - /etc/nginx/nginx.conf
    - -g
    - daemon off;

  env: []
  
  envFrom:
    - configMapRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "env") | trim }}'

  probes:
    readiness:
      httpGet:
        path: /
        port: "{{ .Values.main.http.containers.nginx.internalPort }}"

  ports:
    - name: nginx
      containerPort: "{{ .Values.main.http.containers.nginx.internalPort }}"
      protocol: TCP

  volumeMounts:
    - name: static
      mountPath: /static
      readOnly: true
    - name: config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
      readOnly: true

  additionalVolumeMounts: []

  resources: {}

# ------- Init containers -------
  angular:
    resources:
        limits:
          cpu: 1
          memory: 128Mi
        requests:
          cpu: "0"
          memory: 128Mi

  initContainers:
    - name: angular
      image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
      imagePullPolicy: "{{ .Values.image.pullPolicy }}"
      command:
        - /bin/sh
        - -c
        - |-
          set -e
          cp -Rf /code/dist/osf/browser/* /static/
          {{- if hasKey .Values.main.configMap.data "config.json" }}
          cp -Rf /config/config.json /static/assets/config/config.json
          {{- end }}
          cp -Rf /config/robots.txt /static/robots.txt

      env: []

      envFrom:
        - configMapRef:
            name: '{{ include "cos-common.fullname" (dict "root" . "name" "env") | trim }}'

      volumeMounts:
        - name: static
          mountPath: /static
        - name: config
          mountPath: /config/config.json
          subPath: config.json
          readOnly: true
        - name: config
          mountPath: /config/robots.txt
          subPath: robots.txt
          readOnly: true
      resources:
        limits:
          cpu: "{{ .Values.main.angular.resources.limits.cpu }}"
          memory: "{{ .Values.main.angular.resources.limits.memory }}"
        requests:
          cpu: "{{ .Values.main.angular.resources.requests.cpu }}"
          memory: "{{ .Values.main.angular.resources.requests.memory }}"

  additionalInitContainers: []


# ------- Additional containers -------
  additionalContainers: []

  sidecars: [] # same as additionalContainers, but maybe you prefer this name more :)


# ------- Volumes configuration for the pod -------
  volumes:
    - name: static
      emptyDir: {}
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'

  additionalVolumes: []


# ------- Affitnity configuration -------
  affinity: {}
    # podAntiAffinity:
    #   preferredDuringSchedulingIgnoredDuringExecution:
    #     - weight: 1
    #       podAffinityTerm:
    #         topologyKey: kubernetes.io/hostname
    #         labelSelector:
    #           matchLabels:
    #             app.kubernetes.io/name: "{{ .Chart.Name }}"
    #             app.kubernetes.io/instance: "{{ .Release.Name }}"
    #             app.kubernetes.io/component: "{{ .Chart.Name }}" # in this case (always for main) component name = chart name, because we leave name in main.yaml empty.

  additionalAffinities: []
    # - nodeAffinity:
    #     requiredDuringSchedulingIgnoredDuringExecution:
    #       nodeSelectorTerms:
    #         - matchExpressions:
    #             - key: cloud.google.com/gke-preemptible
    #               operator: In
    #               values:
    #                 - "true"


# ------- Pod Annotations -------
  podAnnotations:
    checksum/main-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "configmap") }}'
    checksum/main-config-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "env" "values" .Values.main "resource" "configmap") }}'


# ------- Service configuration -------
# service name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  service:
    enabled: true
    type: "{{ .Values.main.http.containers.nginx.serviceType }}"
    ports:
      - name: nginx
        port: "{{ .Values.main.http.containers.nginx.externalPort }}"
        targetPort: "{{ .Values.main.http.containers.nginx.internalPort }}"


# ------- Ingress configuration -------
# ingress name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      primary:
        - chart-example.local
      # additional:
      #   - chart-example-2.local
    rules:
      - name: main
        includeForPrimaryHost: true
        includeForAdditionalHost: true
        pathType: ImplementationSpecific
        service:
          name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
          port: "{{ .Values.main.http.containers.nginx.externalPort }}"
        paths:
          - /

      - name: legacy
        includeForPrimaryHost: true
        includeForAdditionalHost: false
        pathType: ImplementationSpecific
        service:
          name: osf-web
          externalPort: 5000
        paths:
          - /api/v1
    tls: []
      # - secretName: secret_name
      #   hosts: 
      #     - chart-example.local


# ------- Certificate configuration ------- (if we want to create Certificate object)
# cert name: '{{ include "cos-common.fullname" (dict "root" . "name" "certificate") | trim }}'
  certificate:
    enabled: false
    # secretName: secret-with-cert # default secret name is certificate name
    issuerRef:
      name: letsencrypt-prod
      kind: ClusterIssuer
    commonName: example.org
    dnsNames:
      - example.org
    acmeConfig:
      http01: {}
        # ingress: ''
      domains:
        - example.org

  # additionalCertificates:
  # # cert name: '{{ include "cos-common.fullname" (dict "root" . "name" "certificate") | trim }}' + name
  #   - name: example-org-cert
  #     enabled: true
  #     secretName: secret-with-cert # default secret name is certificate name
  #     commonName: example.org
  #     dnsNames:
  #       - example.org
  #       - submdomain.example.org
  #     issuerRef:
  #       name: letsencrypt-prod
  #       kind: ClusterIssuer
  #     acmeConfig:
  #       http01: {}
  #         # ingress: ''
  #       domains:
  #         - example.org
  #         - subdomain.example.org


# ------- HPA configuration -------
  hpa:
    enabled: false
    minReplicas: "{{ .Values.main.replicas }}"
    maxReplicas: 3
    metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 90


# ------- PDB configuration -------
  pdb:
    enabled: false
    minAvailable: 1


# ------- Network Policy configuration -------
# Network Policy name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  networkPolicy:
    enabled: false
    ingressRules:
      - from:
        - podSelector:
            matchLabels: 
              '{{ include "cos-common.fullname" (dict "root" . "name" "client") | trim }}': "true"
        ports:
          - port: "{{ .Values.main.http.containers.nginx.internalPort }}"
      - ports:
        - port: "{{ .Values.main.nginx.vts.internalPort }}"
    egressRules: 
      - {}

# Additional network Policy name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name
  additionalNetworkPolicies:
    - name: cert-solver-example
      enabled: false
      podSelector:
        matchExpressions:
          - key: acme.cert-manager.io/http01-solver
            operator: Exists
      ingressRules:
        - from: []


# ------- ConfigMap configuration -------
# ConfigMap name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  configMap:
    enabled: true
    tpl: true
    data:
      robots.txt: |
        {{ .Files.Get "files/robots.txt" }}
      config.json: |-
        {
        }
      nginx.conf: |
        {{ tpl (.Files.Get "files/nginx.conf") (dict "Values" .Values "root" .) }}

# Additional configMap name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name
  additionalConfigMaps:
    - name: env
      enabled: true
      tpl: false
      data: 
        MULTI_CONFIG: "false"


# ------- Secrets configuration -------
# Secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  secret:
    enabled: false
    includeTls: false
    data: 
      superSecret: "secret" 
      fileExample.txt: |-
        MySecretFile

  additionalSecrets:
  # Additional secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name
    - name: additional
      enabled: false
      includeTls: false
      data: 
        superSecret: "secret" 


# ------- Selectors and etc. -------
  nodeSelector: {}


# =============== SSR Component ===============
ssr:
  enabled: true

  replicas: 1

  component: ssr

  # shmSizeLimit: 256Mi

  http:
    containers:
      nginx:
        internalPort: 80
      angular:
        internalPort: 4000
    service:
      externalPort: 4000
      type: ClusterIP

# ------- Configuration follows for containerName: angular -------
  image:
    repository: "{{ .Values.image.repository }}"
    tag: "{{ .Values.image.tag }}-ssr"
    pullPolicy: "{{ .Values.image.pullPolicy }}"

  containerName: "{{ .Values.ssr.component }}"

  command:
    - /bin/sh
    - -c
    - |-
      set -e
      {{- if hasKey .Values.main.configMap.data "config.json" }}
      cp -Rf /config/config.json /app/dist/osf/browser/assets/config/config.json
      {{- end }}
      node dist/osf/server/server.mjs

  env: []
  
  extraEnv: []

  envFrom:
    - configMapRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr-env") | trim }}'
    - secretRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr-env") | trim }}'

  probes:
    liveness:
      httpGet:
        path: "/http://127.0.0.1:{{ .Values.ssr.http.containers.nginx.internalPort }}/healthz"
        port: "{{ .Values.ssr.http.containers.angular.internalPort }}"
      timeoutSeconds: 5
      initialDelaySeconds: 30
      periodSeconds: 30
    readiness:
      tcpSocket:
        port: "{{ .Values.ssr.http.containers.angular.internalPort }}"
      initialDelaySeconds: 10
      periodSeconds: 10

  ports:
    - name: angular
      containerPort: "{{ .Values.ssr.http.containers.angular.internalPort }}"

  volumeMounts:
    - name: config-main
      mountPath: /config/config.json
      subPath: config.json
      readOnly: true

  additionalVolumeMounts: []

  resources: {}
    #limits:
    #  cpu: 100m
    #  memory: 128Mi
    #requests:
    #  cpu: 100m
    #  memory: 128Mi


# ------- Additional containers -------
  nginx:
    resources: {}
      #limits:
      #  cpu: 100m
      #  memory: 128Mi
      #requests:
      #  cpu: 100m
      #  memory: 128Mi
    volumeMounts:
      - mountPath: /etc/nginx/nginx.conf
        name: config
        subPath: nginx.conf
        readOnly: true

  additionalContainers:
    - name: nginx
      inheritVolumeMountsFrom: nginx # <----- gets volume mounts from nginx set of vars above
      inheritResourcesFrom: nginx # <----- gets resources from nginx set of vars above
      image: "{{ .Values.nginx.image.repository }}:{{ .Values.nginx.image.tag }}"
      imagePullPolicy: "{{ .Values.nginx.image.pullPolicy }}"
      command:
        - nginx
        - -c
        - /etc/nginx/nginx.conf
        - -g
        - daemon off;
      ports:
        - name: http
          containerPort: "{{ .Values.ssr.http.containers.nginx.internalPort }}"
      livenessProbe:
        httpGet:
          path: /healthz
          port: "{{ .Values.ssr.http.containers.nginx.internalPort }}"
        initialDelaySeconds: 10
      readinessProbe:
        httpGet:
          path: /healthz
          port: "{{ .Values.ssr.http.containers.nginx.internalPort }}"
        initialDelaySeconds: 10


# ------- Volumes configuration for the pod -------
  volumes:
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr") | trim }}'
    - name: config-main
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr") | trim }}'
    # - name: dshm
    #   emptyDir:
    #     medium: Memory
    #     sizeLimit: "{{ .Values.ssr.shmSizeLimit }}"

  additionalVolumes: []


# ------- Affitnity configuration -------
  affinity: {}
    # podAntiAffinity:
    #   preferredDuringSchedulingIgnoredDuringExecution:
    #     - weight: 1
    #       podAffinityTerm:
    #         topologyKey: kubernetes.io/hostname
    #         labelSelector:
    #           matchLabels:
    #             app.kubernetes.io/name: "{{ .Chart.Name }}"
    #             app.kubernetes.io/instance: "{{ .Release.Name }}"
    #             app.kubernetes.io/component: "{{ .Values.ssr.component }}"

  additionalAffinities: []
    # - nodeAffinity:
    #     requiredDuringSchedulingIgnoredDuringExecution:
    #       nodeSelectorTerms:
    #         - matchExpressions:
    #             - key: cloud.google.com/gke-preemptible
    #               operator: In
    #               values:
    #                 - "true"


# ------- Pod Annotations -------
  podAnnotations:
    checksum/main-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "configmap") }}'
    checksum/ssr-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "ssr" "values" .Values.ssr "resource" "configmap") }}'
    checksum/ssr-secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "ssr" "values" .Values.ssr "resource" "secret") }}'
    checksum/ssr-config-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "ssr-env" "values" .Values.ssr "resource" "configmap") }}'
    checksum/ssr-secret-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "ssr-env" "values" .Values.ssr "resource" "secret") }}'


# ------- Service configuration -------
# service name: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr") | trim }}'
  service:
    enabled: true
    type: "{{ .Values.ssr.http.service.type }}"
    ports:
      - name: http
        port: "{{ .Values.ssr.http.service.externalPort }}"
        targetPort: "{{ .Values.ssr.http.containers.nginx.internalPort }}"


# ------- Ingress configuration -------
# ingress name: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr") | trim }}'
  ingress:
    enabled: false


# ------- HPA configuration -------
  hpa:
    enabled: false
    minReplicas: "{{ .Values.ssr.replicas }}"
    maxReplicas: 3
    metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 90


# ------- PDB configuration -------
  pdb:
    enabled: false
    minAvailable: 1


# ------- ConfigMap configuration -------
# ConfigMap name: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr") | trim }}'
  configMap:
    enabled: true
    tpl: true
    data:
      nginx.conf: |
        {{ tpl (.Files.Get "files/nginx-ssr.conf") (dict "Values" .Values "root" .) }}

      # Additional config files can be added here:
      # some.conf: |-
      #   ...


# Additional configMap name: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr") | trim }}' + name
  additionalConfigMaps:
    - name: env
      enabled: true
      tpl: false
      data: {}
        # EXAMPLE_ENV: some_value


# ------- Secrets configuration -------
# Secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr") | trim }}'
  secret:
    enabled: true
    data: {}
      # Additional secret files can be added here:
      # some.key: |-
      #   ...

# secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "ssr") | trim }}' + name
  additionalSecrets:
    - name: env
      enabled: true
      includeTls: false
      data: {}
        # EXAMPLE_SECRET: some_value


# ------- Selectors and etc. -------
  nodeSelector: {}
