## =============== MAIN Component ===============
main:
  enabled: true

  replicas: 1

  heapSize: "128m"

# ------- Configuration follows for containerName: cerebro -------
  image:
    repository: quay.io/centerforopenscience/cerebro
    tag: master
    pullPolicy: Always

  containerName: cerebro

  env:
    - name: JAVA_OPTS
      value: "-Djava.net.preferIPv4Stack=true -Xms{{ .Values.main.heapSize }} -Xmx{{ .Values.main.heapSize }}"

  ports:
    - name: http
      containerPort: 9000
      protocol: TCP

  volumeMounts:
    - name: secret
      mountPath: /opt/cerebro/conf/application.conf
      subPath: application.conf
  ## If TLS enabled
    # - name: secret
    #   mountPath: /certs/ca_chain.pem
    #   subPath: certs-ca_chain.pem
    #   readOnly: true
    # - name: secret
    #   mountPath: /certs/client.pem
    #   subPath: certs-client.pem
    #   readOnly: true
    # - name: secret
    #   mountPath: /certs/client.jks
    #   subPath: certs-client.jks
    #   readOnly: true
    # - name: secret
    #   mountPath: /certs/trust.jks
    #   subPath: certs-trust.jks
    #   readOnly: true

  resources:
    limits:
      cpu: "1"
      memory: "512Mi"
    requests:
      cpu: "25m"
      memory: "256Mi"


# ------- Volumes configuration for the pod -------
  volumes:
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'


# ------- Affitnity configuration -------
  affinity: {}
  additionalAffinities: []


# ------- Pod Annotations -------
  podAnnotations:
    checksum/secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "secret") }}'


# ------- Secrets configuration -------
# Secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  secret:
    enabled: true
    includeTls: "{{ .Values.tls.enabled }}"
    data:
      application.conf: |
        # Secret will be used to sign session cookies, CSRF tokens and for other encryption utilities.
        # It is highly recommended to change this value before running cerebro in production.
        secret = "ki:s:[[@=Ag?QI`W2jMwkY:eqvrJ]JqoJyi2axj3ZvOv^/KavOT4ViJSv?6YY4[N"

        # Application base path
        basePath = "/"

        # Defaults to RUNNING_PID at the root directory of the app.
        # To avoid creating a PID file set this value to /dev/null
        #pidfile.path = "/var/run/cerebro.pid"
        pidfile.path=/dev/null

        # Rest request history max size per user
        rest.history.size = 50 // defaults to 50 if not specified

        # Path of local database file
        #data.path: "/var/lib/cerebro/cerebro.db"
        data.path = "./cerebro.db"

        # Authentication
        auth = {
          # Example of LDAP authentication
          #type: ldap
            #settings: {
              #url = "ldap://host:port"
              #base-dn = "ou=active,ou=Employee"
              #method  = "simple"
              #user-domain = "domain.com"
            #}
          # Example of simple username/password authentication
          #type: basic
            #settings: {
              #username = "admin"
              #password = "1234"
            #}
        }

        # A list of known hosts
        hosts = [
          #{
          #  host = "http://localhost:9200"
          #  name = "Some Cluster"
          #},
          # Example of host with authentication
          #{
          #  host = "http://some-authenticated-host:9200"
          #  name = "Secured Cluster"
          #  auth = {
          #    username = "username"
          #    password = "secret-password"
          #  }
          #}
        ]

        #play.ws.ssl {
        #  #loose = {
        #  #  disableHostnameVerification: true
        #  #}
        #  keyManager = {
        #    stores = [
        #      { path: /certs/client.jks, password: "123456" }
        #    ]
        #  }
        #  trustManager = {
        #    stores = [
        #      { path: /certs/trust.jks }
        #    ]
        #  }
        #}
    ## If TLS enabled
    #   certs-ca_chain.pem: ""
    #   certs-client.pem: ""
    # base64Files:
    #   certs-client.jks: ""
    #   certs-trust.jks: ""


# ------- Selectors and etc. -------
  nodeSelector: {}
  tolerations: []
