apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "maintenance.fullname" . }}
  labels:
    app: {{ template "maintenance.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
data:
{{- define "maintenance.inlineconfigs" }}
nginx.conf: |-
  user nginx;
  worker_processes 1;

  pid /var/run/nginx.pid;

  error_log /var/log/nginx/error.log warn;

  events {
      worker_connections 1024;
  }

  http {
      include /etc/nginx/mime.types;
      default_type application/octet-stream;

      log_format main '$remote_addr - $upstream_cache_status $remote_user [$time_local] '
                      '"$request" $status $body_bytes_sent '
                      '"$http_referer" "$http_user_agent" "$http_x_forwarded_for" '
                      'rt=$request_time uct="$upstream_connect_time" uht="$upstream_header_time" urt="$upstream_response_time"';
      access_log /var/log/nginx/access.log main;

      sendfile on;
      tcp_nopush on;
      tcp_nodelay on;
      keepalive_timeout 620s;
      keepalive_requests 10000;
      types_hash_max_size 2048;
      server_tokens off;

      gzip on;
      gzip_disable "MSIE [1-6]\.(?!.*SV1)";
      gzip_comp_level 2;
      gzip_min_length 512;
      gzip_proxied any;
      gzip_vary on;
      gzip_types text/xml application/json;

      server {
          listen {{ .Values.service.internalPort }};
          server_name _;
          
          if ($http_x_forwarded_proto = "http") {
              return 301 https://$host$request_uri;
          }

          location = /healthz {
              access_log off;
              return 200;
          }

          location / {
              root /static;

              add_header Cache-Control "no-cache, no-store, max-age=0, must-revalidate";
              add_header Expires "Mon, 01 Jan 1990 00:00:00 GMT";
              add_header Pragma "no-cache";

              if ($http_Accept ~* json) {
                  rewrite ^(.*)$ /503.json break;
              }

              rewrite ^(.*)$ /503.html break;

              return 503;
          }
      }
  }
{{- end -}}
  {{- range $key, $value := merge (include "maintenance.inlineconfigs" . | fromYaml) ((.Files.Glob "files/*").AsConfig | fromYaml) .Values.configFiles }}
  {{ $key }}: |-
    {{- $value | nindent 4 }}
  {{- end }}
