### ---------- Global or Reusable parts across values.yaml ----------
image:
  repository: quay.io/centerforopenscience/osf-pigeon
  tag: develop
  pullPolicy: Always

## Remember that full name for all objects is '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
## or in other form current naming is Release.Name-Chart.Name

## =============== MAIN Component ===============
main:
  enabled: true

  replicas: 1

  http:
    containers:
      nginx:
        internalPort: 80
        externalPort: 2020
        serviceType: ClusterIP

# ------- Configuration follows for containerName: nginx -------
  image:
    repository: nginx
    tag: latest
    pullPolicy: Always

  containerName: nginx

  command:
    - nginx
    - -c
    - /etc/nginx/nginx.conf
    - -g
    - daemon off;

  env: []

  envFrom: []

  probes:
    readiness:
      httpGet:
        path: /healthz
        port: "{{ .Values.main.http.containers.nginx.internalPort }}"
      initialDelaySeconds: 10

  ports:
    - name: http-internal
      containerPort: "{{ .Values.main.http.containers.nginx.internalPort }}"
      protocol: TCP

  volumeMounts:
    - name: config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
      readOnly: true
    - name: config
      mountPath: /usr/share/nginx/html/robots.txt
      subPath: robots.txt
      readOnly: true

  additionalVolumeMounts: []

  resources: {}


# ------- Init containers -------
  initContainers: []

  additionalInitContainers: []


# ------- Additional containers -------
  sanic:
    resources:
      limits:
        cpu: 1
        memory: 564Mi
      requests:
        cpu: 10m
        memory: 282Mi
        ephemeral-storage: 10Gi
    volumeMounts:
      - name: localcache
        mountPath: /tmp/pigeonlocalcache
      #### If Enabled persistence < ----------
      # - name: data
      #   mountPath: /var/lib/pigeonlocaldata/

  sidecars: [] # same as additionalContainers, but maybe you prefer this name more :)

  additionalContainers:
    - name: sanic
      inheritVolumeMountsFrom: sanic # <----- gets volume mounts from sanic set of vars above
      inheritResourcesFrom: sanic # <----- gets resources from sanic set of vars above
      image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
      imagePullPolicy: "{{ .Values.image.pullPolicy }}"
      command:
        - /bin/sh
        - -c
        - python3 -m osf_pigeon
      env: []
      envFrom:
        - configMapRef:
            name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
        - secretRef:
            name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
        - configMapRef:
            name: '{{ include "cos-common.fullname" (dict "root" . "name" "sanic-env") | trim }}'  
      ports:
        - name: http-external
          containerPort: "{{ .Values.main.http.containers.nginx.externalPort }}"
          protocol: TCP
      readinessProbe:
        httpGet:
          path: /
          port: "{{ .Values.main.http.containers.nginx.externalPort }}"


# ------- Volumes configuration for the pod -------
  volumes:
    - name: localcache
      emptyDir: {}
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'

  additionalVolumes:
    - name: data
      emptyDir: {}
    #### If Enabled persistence < ---------- 
    # -----> Option 1 to create persistent volume
    #
    # - name: data # PVC name will be: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name
    #   persistence: 
    #     enabled: true 
    #     accessModes:
    #       - ReadWriteOnce
    #     size: 100Gi
    #     storageClass: ""
    #     existingClaim: ""

    # -----> Option 2 to create persistent volume
    #
    # - name: data
    #   persistentVolumeClaim:
    #     claimName: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'

  # -----> Option 2 to create persistent volume
  #
  # PVC name will be '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  #
  # persistence: 
  #   enabled: true 
  #   accessModes:
  #     - ReadWriteOnce
  #   size: 100Gi
  #   storageClass: ""
  #   existingClaim: ""


# ------- Affitnity configuration -------
  affinity: {}
    # podAntiAffinity:
    #   preferredDuringSchedulingIgnoredDuringExecution:
    #     - weight: 1
    #       podAffinityTerm:
    #         topologyKey: kubernetes.io/hostname
    #         labelSelector:
    #           matchLabels:
    #             app.kubernetes.io/name: "{{ .Chart.Name }}"
    #             app.kubernetes.io/instance: "{{ .Release.Name }}"
    #             app.kubernetes.io/component: "{{ .Chart.Name }}" # in this case component name = chart name, because we leave component name in main.yaml empty.

  additionalAffinities: []


# ------- Pod Annotations -------
  podAnnotations:
    checksum/main-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "configmap") }}'
    checksum/main-config-sanic-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "sanic-env" "values" .Values.main "resource" "configmap") }}'
    checksum/main-config-common-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "common-env" "values" .Values.main "resource" "configmap") }}'
    checksum/main-secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "secret") }}'
    checksum/main-secret-common-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "common-env" "values" .Values.main "resource" "secret") }}'


# ------- Service configuration -------
# service name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  service:
    enabled: true
    type: "{{ .Values.main.http.containers.nginx.serviceType }}"
    ports:
      - name: http
        port: "{{ .Values.main.http.containers.nginx.externalPort }}"
        targetPort: "{{ .Values.main.http.containers.nginx.internalPort }}"
        protocol: TCP


# ------- Ingress configuration -------
# ingress name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      primary:
        - chart-example.local
    rules:
      - name: main
        includeForPrimaryHost: true
        includeForAdditionalHost: false
        pathType: ImplementationSpecific
        service:
          name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
          port: "{{ .Values.main.http.containers.nginx.externalPort }}"
        paths:
          - /
    tls: []
      # - secretName: secret_name
      #   hosts: 
      #     - chart-example.local


# ------- Certificate configuration ------- (if we want to create Certificate object)
# cert name: '{{ include "cos-common.fullname" (dict "root" . "name" "cert") | trim }}'
  certificate:
    enabled: false
    # secretName: secret-with-cert # default secret name is certificate name
    issuerRef:
      name: letsencrypt-prod
      kind: ClusterIssuer
    commonName: example.org
    dnsNames:
      - example.org
    acmeConfig:
      http01: {}
        # ingress: ''
      domains:
        - example.org
        - subdomain.example.org

  # additionalCertificates:
  # # cert name: '{{ include "cos-common.fullname" (dict "root" . "name" "certificate") | trim }}' + name
  #   - name: example-org-cert
  #     enabled: false
  #     # secretName: secret-with-cert
  #     commonName: example.org
  #     dnsNames:
  #       - example.org
  #       - submdomain.example.org
  #     issuerRef:
  #       name: letsencrypt-prod
  #       kind: ClusterIssuer
  #     acmeConfig:
  #       http01: {}
  #         # ingress: ''
  #       domains:
  #         - example.org
  #         - subdomain.example.org


# ------- HPA configuration -------
  hpa:
    enabled: false
    minReplicas: "{{ .Values.main.replicas }}"
    maxReplicas: 3
    metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 90


# ------- PDB configuration -------
  pdb:
    enabled: false
    minAvailable: 1


# ------- Network Policy configuration -------
# Network Policy name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  networkPolicy:
    enabled: false
    componentScoped: true # this network policy will be applied to all components
    ingressRules:
      - ports:
        - port: "{{ .Values.main.http.containers.nginx.internalPort }}"
        from:
        - podSelector:
            matchLabels:
              '{{ include "cos-common.fullname" (dict "root" . "name" "client") | trim }}': "true"
      - ports:
        - port: "{{ .Values.main.nginx.vts.internalPort }}"
    egressRules: 
      - {}

# Additional network Policy name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name
  additionalNetworkPolicies:
    - name: cert-solver
      enabled: false
      podSelector:
        matchExpressions:
          - key: acme.cert-manager.io/http01-solver
            operator: Exists
      ingressRules:
        - from: []


# ------- ConfigMap configuration -------
# ConfigMap name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  configMap:
    enabled: true
    tpl: true
    data:
      robots.txt: |
        {{ .Files.Get "files/robots.txt" }}
      nginx.conf: |
        {{ tpl (.Files.Get "files/nginx.conf") (dict "Values" .Values "root" .) }}

# configmap name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name
  additionalConfigMaps:
    - name: common-env
      enabled: true
      tpl: false
      data: {}
    - name: sanic-env
      enabled: true
      tpl: false
      data: {}
        #### If Enabled persistence < ----------
        # PIGEON_FILESTORE_DIR: /var/lib/pigeonlocaldata/
        # Provide other envs for sanic


# ------- Secrets configuration -------
# Secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  secret:
    enabled: true
    includeTls: false
    data: {}

# secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name  
  additionalSecrets:
    - name: common-env
      enabled: true
      includeTls: false
      data: {}


# ------- Selectors and etc. -------
  nodeSelector: {}


# ------- Other variables which are used accross files or values.yaml -------
  nginx:
    workerCount: 1
    proxySourceRanges: []
    realIpHeader: X-Real-IP
    realIpRecursive: "off"
    vts:
      enabled: false
      internalPort: 18080
      statusZoneSize: 10m
      defaultFilterKey: "$geoip_country_code country::*"
