{{- if .Values.indexer.enabled -}}
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{ template "share.indexer.fullname" . }}
  labels:
    app: {{ template "share.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    component: "{{ .Values.indexer.name }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.indexer.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "share.name" . }}
        component: "{{ .Values.indexer.name }}"
        release: {{ .Release.Name }}
      annotations:
        {{- include "share.deploymentAnnotations" . | nindent 8 }}
    spec:
      affinity:
        {{- if .Values.indexer.additionalAffinities }}
        {{- toYaml .Values.indexer.additionalAffinities | nindent 8 }}
        {{- end }}
        {{- if eq .Values.indexer.antiAffinity "hard" }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app: {{ template "share.name" . }}
                  release: "{{ .Release.Name }}"
                  component: "{{ .Values.indexer.name }}"
        {{- else if eq .Values.indexer.antiAffinity "soft" }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app: {{ template "share.name" . }}
                    release: "{{ .Release.Name }}"
                    component: "{{ .Values.indexer.name }}"
        {{- end }}
      containers:
        - name: {{ .Values.indexer.name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/sh
            - -c
            - |-
              PREFIX=''
              if [ -f /code/newrelic.ini ]; then
                PREFIX='newrelic-admin run-program'
              fi
              $PREFIX gosu www-data sharectl search daemon
          env:
            {{- include "share.environment" . | nindent 12 }}
            {{- range $key, $value := .Values.indexer.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          volumeMounts:
            {{- if .Values.volumeMounts }}
            {{- toYaml .Values.volumeMounts | nindent 12 }}
            {{- end }}
            {{- if .Values.indexer.volumeMounts }}
            {{- toYaml .Values.indexer.volumeMounts | nindent 12 }}
            {{- end }}
          {{- if .Values.indexer.resources }}
          resources:
            {{- toYaml .Values.indexer.resources | nindent 12 }}
          {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ template "share.fullname" . }}
        - name: secret
          secret:
            secretName: {{ template "share.fullname" . }}
{{- end -}}
