### ------- Global or Reusable parts across values.yaml -------
image:
  repository: nginx
  tag: stable
  pullPolicy: IfNotPresent


## Remember that full name for all objects is '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
## or in other form current naming is Release.Name-Chart.Name

## =============== MAIN Component ===============
main:
  enabled: true

  replicas: 1

  http:
    containers:
      nginx:
        internalPort: 80
        externalPort: 80
        serviceType: ClusterIP

# ------- Configuration follows for containerName: nginx -------
  image:
    repository: "{{ .Values.image.repository }}"
    tag: "{{ .Values.image.tag }}"
    pullPolicy: "{{ .Values.image.pullPolicy }}"

  containerName: nginx

  command:
    - nginx
    - -c
    - /etc/nginx/nginx.conf
    - -g
    - daemon off;

  env: []

  envFrom: []

  probes:
    liveness:
      httpGet:
        path: /healthz
        port: "{{ .Values.main.http.containers.nginx.internalPort }}"
    readiness:
      httpGet:
        path: /healthz
        port: "{{ .Values.main.http.containers.nginx.internalPort }}"

  ports:
    - name: http
      containerPort: "{{ .Values.main.http.containers.nginx.internalPort }}"
      protocol: TCP

  volumeMounts:
    - name: config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
      readOnly: true
    - name: config
      mountPath: /etc/nginx/conf.d/default.conf
      subPath: conf.d-default.conf
      readOnly: true

  resources: {}


# ------- Volumes configuration for the pod -------
  volumes:
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.main) | trim }}'


# ------- Affitnity configuration -------
  affinity: {}
  additionalAffinities: []


# ------- Pod Annotations -------
  podAnnotations:
    checksum/main-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "configmap") }}'


# ------- Service configuration -------
  service:
    enabled: true
    type: "{{ .Values.main.http.containers.nginx.serviceType }}"
    ports:
      - name: http
        port: "{{ .Values.main.http.containers.nginx.externalPort }}"
        targetPort: "{{ .Values.main.http.containers.nginx.internalPort }}"


# ------- Ingress configuration -------
  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      primary:
        - chart-example.local
    rules:
      - name: main
        includeForPrimaryHost: true
        pathType: ImplementationSpecific
        service:
          name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
          port: "{{ .Values.main.http.containers.nginx.externalPort }}"
        paths:
          - /
    tls: []
      # - secretName: secret_name
      #   hosts: 
      #     - chart-example.local


# ------- Certificate configuration -------
  certificate:
    enabled: false
    issuerRef:
      name: letsencrypt-prod
      kind: ClusterIssuer
    commonName: example.org
    dnsNames:
      - example.org
    acmeConfig:
      http01: {}
      domains:
        - example.org

  # additionalCertificates:
  # # cert name: '{{ include "cos-common.fullname" (dict "root" . "name" "certificate") | trim }}' + name
  #   - name: example-org-cert
  #     enabled: true
  #     secretName: secret-with-cert # default secret name is certificate name
  #     commonName: example.org
  #     dnsNames:
  #       - example.org
  #       - submdomain.example.org
  #     issuerRef:
  #       name: letsencrypt-prod
  #       kind: ClusterIssuer
  #     acmeConfig:
  #       http01: {}
  #         # ingress: ''
  #       domains:
  #         - example.org
  #         - subdomain.example.org


# ------- ConfigMap configuration -------
  configMap:
    enabled: true
    tpl: true
    data:
      nginx.conf: |
        {{ tpl (.Files.Get "files/nginx.conf") (dict "Values" .Values "root" .) }}

      conf.d-default.conf: |
        # Insert nginx config here


# ------- Selectors and etc. -------
  nodeSelector: {}

  tolerations: []