### ------- Global or Reusable parts across values.yaml -------

## ------- Global images
image:
  repository: quay.io/centerforopenscience/share
  tag: develop
  pullPolicy: Always

## ------- Global Secret names
elasticsearchCertificateSecret: "" # Be aware that it will use existing secret! if you do set name here then do not forget to uncomment/add volumes attachment for "elasticsearch-certs" volume and add volumeMounts.

# =============== COMMON Component ===============
# No workload in this component, only configs and secrets.
common:
  enabled: true


# ------- ConfigMap configuration -------
# configmap name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  configMap:
    enabled: true
    tpl: true
    data:
      nginx.conf: |-
        {{ tpl (.Files.Get "files/nginx.conf") (dict "Values" .Values "root" .) }}
      uwsgi.ini: |-
        {{ .Files.Get "files/uwsgi.ini" }}
      robots.txt: |-
        {{ .Files.Get "files/robots.txt" }}

# configmap name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name
  additionalConfigMaps:
    - name: common-env
      enabled: true
      tpl: false
      data:
        DEBUG: ""
        DJANGO_SETTINGS_MODULE: project.settings
        ALLOWED_HOSTS: "*"


# ------- Secrets configuration -------
# secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  secret:
    enabled: true
    includeTls: false
    data: {}
      # googleAppCreds.json: |-
      #   ...


# secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name  
  additionalSecrets:
    - name: common-env
      enabled: true
      includeTls: false
      data: {}
        # BYPASS_THROTTLE_TOKEN: abc123

    # Create secret with TLS certs for Postgres
    # If enable this secret then do not forget to uncomment/add volumes attachment for "postgresql-certs" volume and add volumeMounts.
    # Secret name will be Release.Name-Chart.Name-name
    - name: postgresql-certs
      enabled: false
      includeTls: false
      data:
        root.crt: |-
          crt
        root.crl: |-
          crl
        postgresql.key: |-
          key
        postgresql.crt: |-
          crt

# =============== WEB Component ===============
web:
  enabled: true

  replicas: 1

  http:
    internalPort: 80
    externalPort: 8000
    serviceType: ClusterIP

  mediaUrl: ""
  staticUrl: ""

# ------- Configuration follows for containerName: nginx -------
  image:
    repository: nginx
    tag: alpine
    pullPolicy: Always

  containerName: nginx

  command:
    - nginx
    - -c
    - /etc/nginx/nginx.conf
    - -g
    - daemon off;

  ports:
    - name: http-internal
      containerPort: "{{ .Values.web.http.internalPort }}"

  probes:
    readiness:
      httpGet:
        path: /healthz
        port: "{{ .Values.web.http.internalPort }}"
      initialDelaySeconds: 10

  volumeMounts:
    - name: static
      mountPath: /static
      readOnly: true
    - name: config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
      readOnly: true
    - name: config
      mountPath: /usr/share/nginx/html/robots.txt
      subPath: robots.txt
      readOnly: true

  resources: {}
    # limits:
    #   cpu: "1"
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi


# ------- Init containers -------
  initContainers:
    - name: collectstatic
      image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
      imagePullPolicy: "{{ .Values.image.pullPolicy }}"
      command:
        - python
        - manage.py
        - collectstatic
        - --noinput
      volumeMounts:
        - mountPath: /code/static
          name: static


# ------- Additional containers -------
  uwsgi:
    resources: {}
    env: []
    volumeMounts:
      - name: config
        mountPath: /etc/uwsgi/uwsgi.ini
        subPath: uwsgi.ini
        readOnly: true

  additionalContainers:
    - name: uwsgi
      inheritVolumeMountsFrom: uwsgi # <----- gets volume mounts from uwsgi set of vars above
      inheritResourcesFrom: uwsgi # <----- gets resources from uwsgi set of vars above
      inheritEnvFrom: uwsgi # <----- gets envs from uwsgi set of vars above
      image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
      imagePullPolicy: "{{ .Values.image.pullPolicy }}"
      command:
        - /bin/sh
        - -c
        - |-
          PREFIX=''
          if [ -f /code/newrelic.ini ]; then
            PREFIX='newrelic-admin run-program'
          fi
          $PREFIX uwsgi --ini /etc/uwsgi/uwsgi.ini --socket :{{ .Values.web.http.externalPort }}
      envFrom:
        - configMapRef:
            name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
        - secretRef:
            name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
      ports:
        - name: wsgi
          containerPort: "{{ .Values.web.http.externalPort }}"
        - name: stats
          containerPort: 1717
      readinessProbe:
        tcpSocket:
          port: "{{ .Values.web.http.externalPort }}"
        initialDelaySeconds: 10


# ------- Volumes configuration for the pod -------
  volumes:
    - name: static
      emptyDir: {}
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'

  additionalVolumes: []
    # # If Postgres certs enabled <-------
    # - name: postgresql-certs
    #   secret:
    #     secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "postgresql-certs") | trim }}'
    # # If pass ElasticSearch certs  <-------
    # - name: elasticsearch-certs
    #   secret:
    #     secretName: "{{ .Values.elasticsearchCertificateSecret }}"


# ------- Affitnity configuration -------
  affinity: {}
    # podAntiAffinity:
    #   preferredDuringSchedulingIgnoredDuringExecution:
    #     - weight: 1
    #       podAffinityTerm:
    #         topologyKey: kubernetes.io/hostname
    #         labelSelector:
    #           matchLabels:
    #             app.kubernetes.io/name: "{{ .Chart.Name }}"
    #             app.kubernetes.io/instance: "{{ .Release.Name }}"
    #             app.kubernetes.io/component: "{{ .Values.web.component }}"

  additionalAffinities: []


# ------- Pod Annotations -------
  podAnnotations:
    checksum/common-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "configmap") }}'
    checksum/common-secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "secret") }}'


# ------- Service configuration -------
# service name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  service:
    enabled: true
    type: "{{ .Values.web.http.serviceType }}"
    ports:
      - name: http
        port: "{{ .Values.web.http.externalPort }}"
        targetPort: "{{ .Values.web.http.internalPort }}"


# ------- Ingress configuration -------
# ingress name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  ingress:
    enabled: false
    annotations: {}
    hosts:
      primary:
        - chart-example.local
    rules:
      - name: web
        includeForPrimaryHost: true
        includeForAdditionalHost: false
        pathType: ImplementationSpecific
        service:
          name: '{{ include "cos-common.fullname" (dict "root" . "name" "web" "values" .Values.web) | trim }}'
          port: "{{ .Values.web.http.externalPort }}"
        paths:
          - /
    tls: []


# ------- Certificate configuration ------- (if we want to create Certificate object)
# certificate name: '{{ include "cos-common.fullname" (dict "root" . "name" "cert") | trim }}'
  certificate:
    enabled: false
    issuerRef:
      name: letsencrypt-prod
      kind: ClusterIssuer
    commonName: example.org
    dnsNames:
      - example.org
    acmeConfig:
      http01: {}
      domains:
        - example.org


# ------- HPA configuration -------
  hpa:
    enabled: false
    minReplicas: "{{ .Values.web.replicas }}"
    maxReplicas: 3
    metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 90
    behavior: {}


# ------- PDB configuration -------
  pdb:
    enabled: false
    minAvailable: 0


# ------- Selectors and etc. -------

  nodeSelector: {}

  tolerations: []


# =============== WORKER Component ===============
worker:
  enabled: true

  replicas: 1

  component: worker

# ------- Configuration follows for containerName: "{{ .Values.worker.component }}" -------
  image:
    repository: "{{ .Values.image.repository }}"
    tag: "{{ .Values.image.tag }}"
    pullPolicy: "{{ .Values.image.pullPolicy }}"

  containerName: "{{ .Values.worker.component }}"

  concurrency: 5
  logLevel: INFO
  maxTasksPerChild: 5
  queues: ""

  command:
    - /bin/sh
    - -c
    - |-
      PREFIX=''
      if [ -f /code/newrelic.ini ]; then
        PREFIX='newrelic-admin run-program'
      fi
      $PREFIX gosu www-data celery --app project worker \
        --concurrency "{{ .Values.worker.concurrency }}" --loglevel "{{ .Values.worker.logLevel }}" \
        --hostname $POD_NAME --without-gossip -Ofair
        {{- if .Values.worker.maxTasksPerChild }} --max-tasks-per-child "{{ .Values.worker.maxTasksPerChild }}"{{- end }}
        {{- if .Values.worker.queues }} --queues "{{ .Values.worker.queues }}"{{- end }}

  env:
    - name: POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name

  envFrom:
    - configMapRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
    - secretRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'

  volumeMounts: []

  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi


# ------- Volumes configuration for the pod -------
  volumes:
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'

  additionalVolumes: []
    # # If Postgres certs enabled <-------
    # - name: postgresql-certs
    #   secret:
    #     secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "postgresql-certs") | trim }}'
    # # If pass ElasticSearch certs <-------
    # - name: elasticsearch-certs
    #   secret:
    #     secretName: "{{ .Values.elasticsearchCertificateSecret }}"


# ------- Affitnity configuration -------
  affinity: {}
    # podAntiAffinity:
    #   preferredDuringSchedulingIgnoredDuringExecution:
    #     - weight: 1
    #       podAffinityTerm:
    #         topologyKey: kubernetes.io/hostname
    #         labelSelector:
    #           matchLabels:
    #             app.kubernetes.io/name: "{{ .Chart.Name }}"
    #             app.kubernetes.io/instance: "{{ .Release.Name }}"
    #             app.kubernetes.io/component: "{{ .Values.worker.component }}"

  additionalAffinities: []


# ------- Pod Annotations -------
  podAnnotations:
    checksum/common-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "configmap") }}'
    checksum/common-secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "secret") }}'


# ------- HPA configuration -------
  hpa:
    enabled: false
    minReplicas: "{{ .Values.worker.replicas }}"
    maxReplicas: 3
    metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 90
    behavior: {}


# ------- PDB configuration -------
  pdb:
    enabled: false
    minAvailable: 0


# ------- Selectors and etc. -------

  nodeSelector: {}

  tolerations: []


# =============== INDEXER Component ===============
indexer:
  enabled: true

  replicas: 1

  component: indexer

  # ------- Configuration follows for containerName: "{{ .Values.indexer.component }}" -------
  image:
    repository: "{{ .Values.image.repository }}"
    tag: "{{ .Values.image.tag }}"
    pullPolicy: "{{ .Values.image.pullPolicy }}"

  containerName: "{{ .Values.indexer.component }}"

  command:
    - /bin/sh
    - -c
    - |-
      PREFIX=''
      if [ -f /code/newrelic.ini ]; then
        PREFIX='newrelic-admin run-program'
      fi
      $PREFIX gosu www-data python manage.py shtrove_indexer_run

  envFrom:
    - configMapRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
    - secretRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'

  volumeMounts: []

  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi


# ------- Volumes configuration for the pod -------
  volumes:
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'

  additionalVolumes: []
    # # If Postgres certs enabled <-------
    # - name: postgresql-certs
    #   secret:
    #     secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "postgresql-certs") | trim }}'
    # # If pass ElasticSearch certs  <-------
    # - name: elasticsearch-certs
    #   secret:
    #     secretName: "{{ .Values.elasticsearchCertificateSecret }}"


# ------- Affitnity configuration -------
  affinity: {}
    # podAntiAffinity:
    #   preferredDuringSchedulingIgnoredDuringExecution:
    #     - weight: 1
    #       podAffinityTerm:
    #         topologyKey: kubernetes.io/hostname
    #         labelSelector:
    #           matchLabels:
    #             app.kubernetes.io/name: "{{ .Chart.Name }}"
    #             app.kubernetes.io/instance: "{{ .Release.Name }}"
    #             app.kubernetes.io/component: "{{ .Values.indexer.component }}"

  additionalAffinities: []


# ------- Pod Annotations -------
  podAnnotations:
    checksum/common-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "configmap") }}'
    checksum/common-secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "secret") }}'


# ------- HPA configuration -------
  hpa:
    enabled: false
    minReplicas: "{{ .Values.indexer.replicas }}"
    maxReplicas: 3
    metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 90
    behavior: {}


# ------- PDB configuration -------
  pdb:
    enabled: false
    minAvailable: 0


# ------- Selectors and etc. -------

  nodeSelector: {}

  tolerations: []


# =============== BEAT Component ===============
beat:
  enabled: true

  replicas: 1

  component: beat

  strategy:
    type: Recreate

# ------- Configuration follows for containerName: "{{ .Values.beat.component }}" -------
  image:
    repository: "{{ .Values.image.repository }}"
    tag: "{{ .Values.image.tag }}"
    pullPolicy: "{{ .Values.image.pullPolicy }}"

  containerName: "{{ .Values.beat.component }}"

  logLevel: DEBUG

  command:
    - /bin/sh
    - -c
    - |-
      PREFIX=''
      if [ -f /code/newrelic.ini ]; then
        PREFIX='newrelic-admin run-program'
      fi
      $PREFIX gosu www-data celery --app project beat \
        --loglevel "{{ .Values.beat.logLevel }}" --pidfile=

  envFrom:
    - configMapRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
    - secretRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'

  volumeMounts: []

  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi


# ------- Volumes configuration for the pod -------
  volumes:
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'
  
  additionalVolumes: []
    # # If Postgres certs enabled <-------
    # - name: postgresql-certs
    #   secret:
    #     secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "postgresql-certs") | trim }}'

# ------- Affitnity configuration -------
  affinity: {}
    # podAntiAffinity:
    #   preferredDuringSchedulingIgnoredDuringExecution:
    #     - weight: 1
    #       podAffinityTerm:
    #         topologyKey: kubernetes.io/hostname
    #         labelSelector:
    #           matchLabels:
    #             app.kubernetes.io/name: "{{ .Chart.Name }}"
    #             app.kubernetes.io/instance: "{{ .Release.Name }}"
    #             app.kubernetes.io/component: "{{ .Values.beat.component }}"

  additionalAffinities: []


# ------- Pod Annotations -------
  podAnnotations:
    checksum/common-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "configmap") }}'
    checksum/common-secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "secret") }}'


# =============== MIGRATION Component ===============
migration:
  enabled: true

  appendReleaseRevisionToName: true

  component: migration

# ------- Configuration follows for containerName: "{{ .Values.migration.component }}" -------

  image:
    repository: "{{ .Values.image.repository }}"
    tag: "{{ .Values.image.tag }}"
    pullPolicy: "{{ .Values.image.pullPolicy }}"

  containerName: "{{ .Values.migration.component }}"

  activeDeadlineSeconds: 900

  workloadAnnotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation

  restartPolicy: Never

  command:
    - /bin/sh
    - -c
    - |-
      PREFIX=''
      if [ -f /code/newrelic.ini ]; then
        PREFIX='newrelic-admin run-program'
      fi
      $PREFIX python manage.py migrate

  envFrom:
    - configMapRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
    - secretRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'


# ------- Volumes configuration for the pod -------
  volumes:
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "" "values" .Values.common) | trim }}'
    
  additionalVolumes: []
    # # If Postgres certs enabled <-------
    # - name: postgresql-certs
    #   secret:
    #     secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "postgresql-certs") | trim }}'


# ------- Pod Annotations -------
  podAnnotations:
    checksum/common-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "configmap") }}'
    checksum/common-secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.common "resource" "secret") }}'
