# Default values for osf-worker.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

image:
  repository: gcr.io/cos-containers/osf
  tag: develop
  pullPolicy: Always

resources: {}
  #limits:
  #  cpu: 1
  #  memory: 512Mi
  #requests:
  #  cpu: 100m
  #  memory: 512Mi

secrets:
  SENSITIVE_DATA_SALT: ''
  SENSITIVE_DATA_SECRET: ''
  OSF_DB_HOST: ''
  OSF_DB_NAME: ''
  OSF_DB_USER: ''
  OSF_DB_PASSWORD: ''

configs: {}
  # Override configmap files here (and delete the {} above), e.g.:
  # local.py: |-
  #   import os
