{{- if .Values.admin.enabled -}}
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{ template "osf.admin.fullname" . }}
  labels:
    app: {{ template "osf.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    component: "{{ .Values.admin.name }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.admin.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "osf.name" . }}
        component: "{{ .Values.admin.name }}"
        release: {{ .Release.Name }}
      annotations:
        {{- include "osf.deploymentAnnotations" . | indent 8 }}
        # Init containers not updated on upgrade : https://github.com/kubernetes/helm/issues/2702
        {{- if not .Values.collectstatic.enabled }}
        pod.beta.kubernetes.io/init-containers: |-
          [
              {
                  "name": "{{ .Values.collectstatic.name }}",
                  "image": "{{ .Values.image.repository }}:{{ .Values.image.tag }}",
                  "imagePullPolicy": "{{ .Values.image.pullPolicy }}",
                  "command": [
                      "/bin/sh",
                      "-c",
                      "mkdir -p /static/code/admin && cp -Rf /code/static_root/* /static/code/admin"
                  ],
                  "volumeMounts": [
                      {"name":"static-volume","mountPath":"/static"}
                  ]
              }
          ]
        {{- end }}
    spec:
#       {{- if not .Values.collectstatic.enabled }}
#       initContainers:
#         - name: {{ .Values.collectstatic.name }}
#           image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
#           imagePullPolicy: {{ .Values.image.pullPolicy }}
#           command:
#             - /bin/sh
#             - -c
#             - mkdir -p /static/code/admin &&
#               cp -Rf /code/static_root/* /static/code/admin
#           volumeMounts:
#             - mountPath: /static
#               name: static-volume
#       {{- end }}
      containers:
        - name: nginx
          image: "{{ .Values.nginx.image.repository }}:{{ .Values.nginx.image.tag }}"
          imagePullPolicy: {{ .Values.nginx.image.pullPolicy }}
          command:
            - nginx
            - -c
            - /etc/nginx/nginx.conf
            - -g
            - daemon off;
          ports:
            - name: http
              containerPort: {{ .Values.admin.service.internalPort }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.admin.service.internalPort }}
            initialDelaySeconds: 10
          volumeMounts:
            - mountPath: /static
              name: static-volume
            - mountPath: /etc/nginx/nginx.conf
              name: config-volume
              subPath: admin-nginx.conf
              readOnly: true
            - mountPath: /etc/nginx/conf.d/default.conf
              name: config-volume
              subPath: default.conf
              readOnly: true
            - mountPath: /usr/share/nginx/html/robots.txt
              name: config-volume
              subPath: admin-robots.txt
              readOnly: true
{{- if .Values.admin.nginx.volumeMounts }}
{{ toYaml .Values.admin.nginx.volumeMounts | indent 12 }}
{{- end }}
          resources:
{{ toYaml .Values.admin.nginx.resources | indent 12 }}
        - name: uwsgi
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - uwsgi
            - --ini
            - /etc/uwsgi/uwsgi.ini
            - --socket
            - :{{ .Values.admin.service.externalPort }}
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: admin.base.settings
            {{- include "osf.environment" . | indent 12 }}
            {{- range $key, $value := .Values.admin.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          ports:
            - name: wsgi
              containerPort: {{ .Values.admin.service.externalPort }}
            - name: stats
              containerPort: 1717
          readinessProbe:
            tcpSocket:
              port: {{ .Values.admin.service.externalPort }}
            initialDelaySeconds: 10
          volumeMounts:
            - mountPath: /etc/uwsgi/uwsgi.ini
              name: config-volume
              subPath: admin-uwsgi.ini
              readOnly: true
{{- if .Values.volumeMounts }}
{{ toYaml .Values.volumeMounts | indent 12 }}
{{- end }}
          resources:
{{ toYaml .Values.admin.resources | indent 12 }}
      volumes:
        - name: static-volume
          emptyDir: {}
        - name: config-volume
          configMap:
            name: {{ template "osf.fullname" . }}
        - name: secret-volume
          secret:
            secretName: {{ template "osf.fullname" . }}
    {{- if .Values.admin.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.admin.nodeSelector | indent 8 }}
    {{- end }}
{{- end -}}
