{{- if (and .Values.api.enabled .Values.api.ingress.enabled) -}}
{{- $ingressPaths := .Values.api.ingress.paths -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "osf.api.fullname" . }}
  labels:
    app: {{ template "osf.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    component: "{{ .Values.api.name }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  {{- if .Values.api.ingress.annotations }}
  annotations:
    {{- toYaml .Values.api.ingress.annotations | nindent 4 }}
  {{- end }}
spec:
  rules:
    {{- if .Values.maintenance.enabled }}
    {{- $serviceName := include "maintenance.fullname" . -}}
    {{- $servicePort := .Values.maintenance.service.externalPort -}}
    {{- range .Values.api.ingress.hosts }}
    - host: {{ . }}
      http:
        paths:
          {{- range $ingressPaths }}
          - path: {{ . }}
            backend:
              serviceName: {{ $serviceName }}
              servicePort: {{ $servicePort }}
          {{- end -}}
    {{- end -}}
    {{- else -}}
    {{- $serviceName := include "osf.api.fullname" . -}}
    {{- $servicePort := .Values.api.service.externalPort -}}
    {{- range .Values.api.ingress.hosts }}
    - host: {{ . }}
      http:
        paths:
          {{- range $ingressPaths }}
          - path: {{ . }}
            backend:
              serviceName: {{ $serviceName }}
              servicePort: {{ $servicePort }}
          {{- end -}}
    {{- end -}}
    {{- end -}}
  {{- if (or .Values.api.ingress.tls (and .Values.api.certificate.enabled .Values.api.certificate.tls)) }}
  tls:
    {{- if .Values.api.ingress.tls }}
    {{- toYaml .Values.api.ingress.tls | nindent 4 }}
    {{- end -}}
    {{- if (and .Values.api.certificate.enabled .Values.api.certificate.tls) }}
    - secretName: "{{ template "osf.api.certificate.fullname" . }}"
      hosts:
        {{- range .Values.api.certificate.acmeConfig.domains }}
        - {{ . }}
        {{- end }}
    {{- end -}}
  {{- end -}}
{{- end -}}
