{{- if .Values.worker.enabled -}}
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{ template "osf.worker.fullname" . }}
  labels:
    app: {{ template "osf.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    component: "{{ .Values.worker.name }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.worker.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "osf.name" . }}
        component: "{{ .Values.worker.name }}"
        release: {{ .Release.Name }}
      annotations:
        {{- include "osf.deploymentAnnotations" . | nindent 8 }}
        # Init containers not updated on upgrade : https://github.com/kubernetes/helm/issues/2702
        {{- if or (gt .Capabilities.KubeVersion.Major "1") (and (eq .Capabilities.KubeVersion.Major "1") (ge .Capabilities.KubeVersion.Minor "8")) }}
        pod.beta.kubernetes.io/init-containers: |-
          {{- (include "osf.worker.initContainers" . | fromYaml).initContainers | toJson | nindent 10 }}
        {{- end }}
    spec:
      affinity:
        {{- if .Values.worker.additionalAffinities }}
        {{- toYaml .Values.worker.additionalAffinities | nindent 8 }}
        {{- end }}
        {{- if eq .Values.worker.antiAffinity "hard" }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app: {{ template "osf.name" . }}
                  release: "{{ .Release.Name }}"
                  component: "{{ .Values.worker.name }}"
        {{- else if eq .Values.worker.antiAffinity "soft" }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app: {{ template "osf.name" . }}
                    release: "{{ .Release.Name }}"
                    component: "{{ .Values.worker.name }}"
        {{- end }}
      {{- if or (gt .Capabilities.KubeVersion.Major "1") (and (eq .Capabilities.KubeVersion.Major "1") (ge .Capabilities.KubeVersion.Minor "8")) }}
      {{- include "osf.worker.initContainers" . | nindent 6 }}
      {{- end }}
      containers:
        - name: {{ .Values.worker.name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/sh
            - -c
            - |-
              PREFIX=''
              if [ -f /code/newrelic.ini ]; then
                PREFIX='newrelic-admin run-program'
              fi
              $PREFIX gosu www-data celery worker --app framework.celery_tasks \
                --concurrency "{{ .Values.worker.concurrency }}" --loglevel "{{ .Values.worker.logLevel }}" \
                --hostname $POD_NAME --without-gossip -Ofair
                {{- if .Values.worker.maxTasksPerChild }} --maxtasksperchild "{{ .Values.worker.maxTasksPerChild }}"{{- end }}
                {{- if .Values.worker.queues }} --queues "{{ .Values.worker.queues }}"{{- end }}
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: api.base.settings
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            {{- include "osf.environment" . | nindent 12 }}
            {{- range $key, $value := .Values.worker.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          volumeMounts:
            {{- if not .Values.task.enabled }}
            - mountPath: /log
              name: log
            {{- end }}
            {{- include "osf.volumeMounts" . | nindent 12 }}
            {{- if .Values.worker.volumeMounts }}
            {{- toYaml .Values.worker.volumeMounts | nindent 12 }}
            {{- end }}
          {{- if .Values.worker.resources }}
          resources:
            {{- toYaml .Values.worker.resources | nindent 12 }}
          {{- end }}
      volumes:
        {{- include "osf.volumes" . | nindent 8 }}
        {{- if not .Values.task.enabled }}
        - name: log
          emptyDir: {}
        {{- end }}
      {{- if .Values.worker.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.worker.nodeSelector | nindent 8 }}
      {{- end }}
{{- end -}}
