### ------- Global or Reusable parts across values.yaml -------
appImage:
  repository: quay.io/centerforopenscience/mfr
  tag: develop
  pullPolicy: Always

nginx:
  workerCount: 1
  resources: {}
  proxySourceRanges: []
  realIpHeader: X-Real-IP
  realIpRecursive: "off"
  vts:
    enabled: false
    internalPort: 18080
    statusZoneSize: 10m
    defaultFilterKey: "$geoip_country_code country::*"

autoroll:
  enabled: false
  name: autoroll
  schedule: "0 4 * * *"
  startingDeadlineSeconds: 900
  activeDeadlineSeconds: 14400
  nodeSelector: {}
  image: bitnami/kubectl:latest

maintenance:
  enabled: false

rabbitmq:
  enabled: true
  secretEnvs:
    RABBITMQ_DEFAULT_USER: guest
    RABBITMQ_DEFAULT_PASS: guest


## Remember that full name for all objects is '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
## or in other form current naming is Release.Name-Chart.Name

## =============== MAIN Component ===============
main:

  enabled: true

  replicas: 1

  http:
    containers:
      nginx:
        internalPort: 80
        externalPort: 7778
        serviceType: ClusterIP

# ------- Configuration follows for containerName: nginx -------
  image:
    repository: quay.io/centerforopenscience/nginx
    tag: latest
    pullPolicy: Always

  containerName: nginx

  command:
    - nginx
    - -c
    - /etc/nginx/nginx.conf
    - -g
    - daemon off;

  env: []

  envFrom: []

  probes:
    readiness:
      httpGet:
        path: /healthz
        port: "{{ .Values.main.http.containers.nginx.internalPort }}"
      initialDelaySeconds: 10

  ports:
    - name: http-internal
      containerPort: "{{ .Values.main.http.containers.nginx.internalPort }}"
      protocol: TCP

  volumeMounts:
    - name: config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
      readOnly: true
    - name: config
      mountPath: /usr/share/nginx/html/robots.txt
      subPath: robots.txt
      readOnly: true

  resources: {}


# ------- Init containers -------
  initContainers:
    - name: exportdir
      image: "{{ .Values.appImage.repository }}:{{ .Values.appImage.tag }}"
      imagePullPolicy: "{{ .Values.appImage.pullPolicy }}"
      command:
        - /bin/sh
        - -c
        - |-
          mkdir /tmp/mfrlocalcache/export
          chmod 777 /tmp/mfrlocalcache/export
      volumeMounts:
        - mountPath: /tmp/mfrlocalcache
          name: localcache


# ------- Additional containers -------
  tornado:
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
        # ephemeral-storage: 10Gi
    volumeMounts:
      - name: secret
        subPath: settings.json
        mountPath: /home/.cos/mfr-kube.json
        readOnly: true
      - name: localcache
        mountPath: /tmp/mfrlocalcache

  unoserver:
    image:
      repository: centerforopenscience/unoserver
      tag: latest
      pullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
        # ephemeral-storage: 10Gi
    volumeMounts:
      - name: localcache
        mountPath: /tmp/mfrlocalcache

  additionalContainers:
    - name: tornado
      inheritVolumeMountsFrom: tornado # <----- gets volume mounts from tornado set of vars above
      inheritResourcesFrom: tornado # <----- gets resources from tornado set of vars above
      image: "{{ .Values.appImage.repository }}:{{ .Values.appImage.tag }}"
      imagePullPolicy: "{{ .Values.appImage.pullPolicy }}"
      command:
        - gosu
        - www-data
        - invoke
        - server
      env:
        - name: ENV
          value: kube
      envFrom:
        - configMapRef:
            name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
        - secretRef:
            name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
      ports:
        - name: http-external
          containerPort: "{{ .Values.main.http.containers.nginx.externalPort }}"
      readinessProbe:
        httpGet:
          path: /status
          port: "{{ .Values.main.http.containers.nginx.externalPort }}"

    - name: unoserver
      inheritVolumeMountsFrom: unoserver # <----- gets volume mounts from unoserver set of vars above
      inheritResourcesFrom: unoserver # <----- gets resources from unoserver set of vars above
      image: "{{ .Values.main.unoserver.image.repository }}:{{ .Values.main.unoserver.image.tag }}"
      imagePullPolicy: "{{ .Values.main.unoserver.image.pullPolicy }}"
      command:
        - /usr/bin/python3.12
        - /usr/bin/unoserver
        - --interface
        - '0.0.0.0'
        - --port
        - '2003'
        - --uno-interface
        - '127.0.0.1'
        - --uno-port
        - '2002'
        - --verbose
      livenessProbe:
        exec:
          command:
            - /bin/sh
            - -c
            - |-
              cd /tmp
              touch test.txt
              timeout 10 /usr/bin/python3.12 /usr/bin/unoconvert --convert-to html test.txt -
              exit $?
        initialDelaySeconds: 30
        periodSeconds: 10
      ports:
        - name: unoserver
          containerPort: 2003

  sidecars: []


# ------- Volumes configuration for the pod -------
  volumes:
    - name: config
      configMap:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
    - name: localcache
      emptyDir: {}

  additionalVolumes: []


# ------- Affinity configuration -------
  affinity: {}

  additionalAffinities:
    - podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: "{{ .Chart.Name }}"
                  app.kubernetes.io/instance: "{{ .Release.Name }}"
                  app.kubernetes.io/component: "{{ .Chart.Name }}" # in this case component name = chart name, because we leave component name in main.yaml empty.


# ------- Pod Annotations -------
  podAnnotations:
    checksum/main-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "configmap") }}'
    checksum/main-config-common-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "common-env" "values" .Values.main "resource" "configmap") }}'
    checksum/main-secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "secret") }}'
    checksum/main-secret-common-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "common-env" "values" .Values.main "resource" "secret") }}'


# ------- Service configuration -------
# service name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  service:
    enabled: true
    type: "{{ .Values.main.http.containers.nginx.serviceType }}"
    ports:
      - name: http
        port: "{{ .Values.main.http.containers.nginx.externalPort }}"
        targetPort: "{{ .Values.main.http.containers.nginx.internalPort }}"


# ------- Ingress configuration -------
# ingress name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      primary:
        - chart-example.local
      # secondary:
      #   - chart-example-2.local
    rules:
      - name: main
        includeForPrimaryHost: true
        includeForSecondaryHost: false
        pathType: ImplementationSpecific
        service:
          name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
          port: "{{ .Values.main.http.containers.nginx.externalPort }}"
        paths:
          - /
    tls: []
      # - secretName: secret_name
      #   hosts: 
      #     - chart-example.local


# ------- Certificate configuration ------- (if we want to create Certificate object)
# certificate name: '{{ include "cos-common.fullname" (dict "root" . "name" "cert") | trim }}'
  certificate:
    enabled: false
    # secretName: secret-with-cert # default secret name is certificate name
    issuerRef:
      name: letsencrypt-prod
      kind: ClusterIssuer
    commonName: example.org
    dnsNames:
      - example.org
    acmeConfig:
      http01: {}
        # ingress: ''
      domains:
        - example.org

  # additionalCertificates:
  # # certificate name: '{{ include "cos-common.fullname" (dict "root" . "name" "cert") | trim }}' + name
  #   - name: example-org-cert
  #     enabled: false
  #     secretName: secret-with-cert # default secret name is certificate name
  #     commonName: example.org
  #     dnsNames:
  #       - example.org
  #       - submdomain.example.org
  #     issuerRef:
  #       name: letsencrypt-prod
  #       kind: ClusterIssuer
  #     acmeConfig:
  #       http01: {}
  #         # ingress: ''
  #       domains:
  #         - example.org
  #         - subdomain.example.org


# ------- HPA configuration -------
  hpa:
    enabled: false
    minReplicas: "{{ .Values.main.replicas }}"
    maxReplicas: 3
    metrics: []
    behavior: {}


# ------- PDB configuration -------
  pdb:
    enabled: false
    minAvailable: 0


# ------- Network Policy configuration -------
  networkPolicy:
    enabled: false
    componentScoped: false # this network policy will be applied to all components
    ingressRules:
      - ports:
          - port: "{{ .Values.main.http.containers.nginx.internalPort }}"
        from:
          - podSelector:
              matchLabels:
                '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}-client': "true"
      - ports:
          - port: "{{ .Values.nginx.vts.internalPort }}"
    egressRules: 
      - {}

  additionalNetworkPolicies:
    - name: cert-solver
      enabled: false
      podSelector:
        matchExpressions:
          - key: acme.cert-manager.io/http01-solver
            operator: Exists
      ingressRules:
        - from: []


# ------- ConfigMap configuration -------
# configmap name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  configMap:
    enabled: true
    tpl: true
    data:
      nginx.conf: |
        {{ tpl (.Files.Get "files/nginx.conf") (dict "Values" .Values "root" .) }}
      robots.txt: |-
        {{ .Files.Get "files/robots.txt" }}

# configmap name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name
  additionalConfigMaps:
    - name: common-env
      enabled: true
      tpl: false
      data: {}


# ------- Secrets configuration -------
# secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'
  secret:
    enabled: true
    data:
      settings.json: |-
        {
          "SERVER_CONFIG": {
            "ADDRESS": "0.0.0.0",
            "PORT": 7778,
            "DEBUG": false,
            "XHEADERS": true,
            "CORS_ALLOW_ORIGIN": "https://staging.osf.io",
            "MAX_BUFFER_SIZE": 157286400,
            "PROVIDER_NAME": "osf",
            "ALLOWED_PROVIDER_DOMAINS": "https://staging.osf.io/ https://staging-files.osf.io/",
            "CACHE_ENABLED": true,
            "CACHE_PROVIDER_NAME": "cloudfiles",
            "CACHE_PROVIDER_SETTINGS": {
              "container": "mfr_staging"
            },
            "CACHE_PROVIDER_CREDENTIALS": {
              "region": "",
              "username": "",
              "token": "",
              "temp_key": ""
            },
            "ANALYTICS": {
              "KEEN": {
                "PRIVATE": {
                  "PROJECT_ID": "",
                  "WRITE_KEY": ""
                },
                "PUBLIC": {
                  "PROJECT_ID": "",
                  "WRITE_KEY": ""
                }
              }
            }
          },
          "UNOCONV_EXTENSION_CONFIG": {
            "SERVER": "127.0.0.1"
          },
          "SENTRY_DSN": "",
          "LOGGING": {
            "version": 1,
            "disable_existing_loggers": false,
            "formatters": {
              "defaultFormatter": {
                "()": "waterbutler.core.logging.MaskFormatter",
                "format": "[%(asctime)s][%(levelname)s][%(name)s]: %(message)s",
                "pattern": "(?<=cookie=)(.*?)(?=&|$)",
                "mask": "***"
              }
            },
            "handlers": {
              "consoleHandler": {
                "class": "logging.StreamHandler",
                "level": "INFO",
                "formatter": "defaultFormatter"
              }
            },
            "loggers": {
              "": {
                "handlers": [
                  "consoleHandler"
                ],
                "level": "INFO",
                "propagate": false
              }
            },
            "root": {
              "level": "INFO",
              "handlers": [
                "consoleHandler"
              ]
            }
          }
        }

# secret name: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}' + name  
  additionalSecrets:
    - name: common-env
      enabled: true
      includeTls: false
      data: {}


# ------- Selectors and etc. -------
  nodeSelector: {}

  tolerations: []


# =============== WORKER Component ===============
worker:
  enabled: true

  component: worker

  replicas: 1

# ------- Configuration follows for containerName: "{{ .Values.worker.component }}" -------
  image:
    repository: "{{ .Values.appImage.repository }}"
    tag: "{{ .Values.appImage.tag }}"
    pullPolicy: "{{ .Values.appImage.pullPolicy }}"

  containerName: "{{ .Values.worker.component }}"

  concurrency: 1
  logLevel: INFO
  maxTasksPerChild: null
  queues: mfr

  command:
    - /bin/sh
    - -c
    - |-
      gosu www-data celery --app mfr.tasks.app worker \
        --concurrency "{{ .Values.worker.concurrency }}" --loglevel "{{ .Values.worker.logLevel }}" \
        --hostname $POD_NAME --without-gossip -Ofair
        {{- if .Values.worker.maxTasksPerChild }} --max-tasks-per-child "{{ .Values.worker.maxTasksPerChild }}"{{- end }}
        {{- if .Values.worker.queues }} --queues "{{ .Values.worker.queues }}"{{- end }}

  env:
    - name: ENV
      value: kube
    - name: POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name

  envFrom:
    - configMapRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'
    - secretRef:
        name: '{{ include "cos-common.fullname" (dict "root" . "name" "common-env") | trim }}'

  probes: {}

  volumeMounts:
    - name: secret
      subPath: settings.json
      mountPath: /home/.cos/mfr-kube.json
      readOnly: true

  additionalVolumeMounts: []

  resources: {}


# ------- Init containers -------
  initContainers: []

  additionalInitContainers: []


# ------- Additional containers -------
  additionalContainers: []

  sidecars: []


# ------- Volumes configuration for the pod -------
  volumes:
    - name: secret
      secret:
        secretName: '{{ include "cos-common.fullname" (dict "root" . "name" "") | trim }}'


# ------- Affinity configuration -------
  affinity: {}
  additionalAffinities:
    - podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: "{{ .Chart.Name }}"
                  app.kubernetes.io/instance: "{{ .Release.Name }}"
                  app.kubernetes.io/component: "{{ .Values.worker.component }}"


# ------- Pod Annotations -------
  podAnnotations:
    checksum/main-config: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "configmap") }}'
    checksum/main-config-common-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "common-env" "values" .Values.main "resource" "configmap") }}'
    checksum/main-secret: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "" "values" .Values.main "resource" "secret") }}'
    checksum/main-secret-common-env: '{{ include "cos-common.componentChecksum" (dict "root" . "name" "common-env" "values" .Values.main "resource" "secret") }}'


# ------- HPA configuration -------
  hpa:
    enabled: false
    minReplicas: "{{ .Values.worker.replicas }}"
    maxReplicas: 3
    metrics: []
    behavior: {}


# ------- PDB configuration -------
  pdb:
    enabled: false
    minAvailable: 0


# ------- Selectors and etc. -------
  nodeSelector: {}

  tolerations: []
