apiVersion: apps/v1beta1
kind: Deployment
metadata:
  labels:
    app: {{ template "elasticsearch.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    component: "{{ .Values.client.name }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  name: {{ template "elasticsearch.client.fullname" . }}
spec:
  replicas: {{ .Values.client.replicas }}
  {{- if .Values.client.strategy }}
  strategy:
    {{- toYaml .Values.client.strategy | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
        app: {{ template "elasticsearch.name" . }}
        component: "{{ .Values.client.name }}"
        release: {{ .Release.Name }}
      {{- if .Values.client.podAnnotations }}
      annotations:
        {{- toYaml .Values.client.podAnnotations | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ template "elasticsearch.fullname" . }}
      securityContext:
        fsGroup: 1000  # elasticsearch
      affinity:
        {{- if .Values.client.additionalAffinities }}
        {{- toYaml .Values.client.additionalAffinities | nindent 8 }}
        {{- end }}
        {{- if eq .Values.client.antiAffinity "hard" }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app: "{{ template "elasticsearch.name" . }}"
                  release: "{{ .Release.Name }}"
                  component: "{{ .Values.client.name }}"
        {{- else if eq .Values.client.antiAffinity "soft" }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app: "{{ template "elasticsearch.name" . }}"
                    release: "{{ .Release.Name }}"
                    component: "{{ .Values.client.name }}"
        {{- end }}
      initContainers:
      # see https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html
      # and https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration-memory.html#mlockall
      - name: sysctl
        image: busybox
        command:
          - sysctl
          - -w
          - vm.max_map_count=262144
        securityContext:
          privileged: true
      {{- if .Values.plugins.enabled }}
      - name: plugins
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ default "" .Values.image.pullPolicy | quote }}
        command:
          - /bin/sh
          - -c
          - |-
            {{- if semverCompare "^2.x" .Values.appVersion }}
            {{ if .Values.plugins.remove }}bin/plugin remove {{ join " && bin/plugin remove " .Values.plugins.remove }}{{ end }}
            {{ if .Values.plugins.install }}bin/plugin install {{ join " && bin/plugin install " .Values.plugins.install }}{{ end }}
            {{- end }}
            {{- if semverCompare ">= 5.x" .Values.appVersion }}
            {{ if .Values.plugins.remove }}bin/elasticsearch-plugin remove {{ join " && bin/elasticsearch-plugin remove " .Values.plugins.remove }}{{ end }}
            {{ if .Values.plugins.install }}bin/elasticsearch-plugin install -b {{ join " && bin/elasticsearch-plugin install -b " .Values.plugins.install }}{{ end }}
            {{- end }}
            cp -Rf /usr/share/elasticsearch/plugins/. /plugins/
        volumeMounts:
        - mountPath: /plugins
          name: plugins
      {{- end }}
      containers:
      - name: elasticsearch
        env:
        - name: SERVICE
          value: {{ template "elasticsearch.master.fullname" . }}
        - name: KUBERNETES_MASTER
          value: kubernetes.default.svc.cluster.local
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: NODE_DATA
          value: "false"
        {{- if semverCompare ">= 5.x" .Values.appVersion }}
        - name: NODE_INGEST
          value: "false"
        {{- end }}
        - name: NODE_MASTER
          value: "false"
        - name: PROCESSORS
          valueFrom:
            resourceFieldRef:
              resource: limits.cpu
        - name: ES_JAVA_OPTS
          value: "-Djava.net.preferIPv4Stack=true -Xms{{ .Values.client.heapSize }} -Xmx{{ .Values.client.heapSize }}"
        {{- range $key, $value :=  .Values.cluster.env }}
        - name: {{ $key }}
          value: {{ $value | quote }}
        {{- end }}
        resources:
          {{- toYaml .Values.client.resources | nindent 12 }}
        readinessProbe:
          exec:
            command:
              - sh
              - -c
              - curl
                --request GET
                --silent
                --output /dev/null
                {{- if .Values.tls.enabled }}
                --insecure
                --crlfile /usr/share/elasticsearch/config/ca_crl.pem
                --key /usr/share/elasticsearch/config/server_key.pem
                --cacert /usr/share/elasticsearch/config/ca_cert.pem
                --cert /usr/share/elasticsearch/config/server_cert.pem
                {{- end }}
                http{{ if .Values.tls.enabled }}s{{ end }}://127.0.0.1:9200/_cluster/health?wait_for_status=yellow
          initialDelaySeconds: 5
        livenessProbe:
          exec:
            command:
              - sh
              - -c
              - curl
                --request GET
                --silent
                --output /dev/null
                {{- if .Values.tls.enabled }}
                --insecure
                --crlfile /usr/share/elasticsearch/config/ca_crl.pem
                --key /usr/share/elasticsearch/config/server_key.pem
                --cacert /usr/share/elasticsearch/config/ca_cert.pem
                --cert /usr/share/elasticsearch/config/server_cert.pem
                {{- end }}
                http{{ if .Values.tls.enabled }}s{{ end }}://127.0.0.1:9200/_cluster/health?wait_for_status=yellow
          initialDelaySeconds: 90
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ default "" .Values.image.pullPolicy | quote }}
        ports:
        - containerPort: 9200
          name: http
        - containerPort: 9300
          name: transport
        volumeMounts:
        - mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
          name: config
          subPath: elasticsearch.yml
          readOnly: true
        {{- if semverCompare "^2.x" .Values.appVersion }}
        - mountPath: /usr/share/elasticsearch/config/logging.yml
          name: config
          subPath: logging.yml
          readOnly: true
        {{- end }}
        {{- if semverCompare ">= 5.x" .Values.appVersion }}
        - mountPath: /usr/share/elasticsearch/config/log4j2.properties
          name: config
          subPath: log4j2.properties
          readOnly: true
        {{- end }}
        {{- if .Values.tls.enabled }}
        - mountPath: /usr/share/elasticsearch/config/server_cert.pem
          name: secret
          subPath: server_cert.pem
          readOnly: true
        - mountPath: /usr/share/elasticsearch/config/server_key.pem
          name: secret
          subPath: server_key.pem
          readOnly: true
        - mountPath: /usr/share/elasticsearch/config/ca_cert.pem
          name: secret
          subPath: ca_cert.pem
          readOnly: true
        - mountPath: /usr/share/elasticsearch/config/ca_crl.pem
          name: secret
          subPath: ca_crl.pem
          readOnly: true
        {{- end }}
        {{- if .Values.plugins.enabled }}
        - mountPath: /usr/share/elasticsearch/plugins
          name: plugins
        {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ template "elasticsearch.fullname" . }}
      {{- if .Values.tls.enabled }}
      - name: secret
        secret:
          secretName: {{ template "elasticsearch.fullname" . }}
      {{- end }}
      {{- if .Values.plugins.enabled }}
      - name: plugins
        emptyDir: {}
      {{- end }}
