apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "sentry.fullname" . }}
  labels:
    {{- include "sentry.labels.standard" . | nindent 4 }}
data:
{{- define "sentry.inlineconfigs" }}
# Adapted from https://docs.sentry.io/server/nginx/
nginx.conf: |-
  user  nginx;
  worker_processes {{ .Values.nginx.workerCount }};

  load_module /usr/lib/nginx/modules/ngx_http_brotli_filter_module.so;
  {{- if .Values.nginx.vts.enabled }}
  load_module /usr/lib/nginx/modules/ngx_http_geoip_module.so;
  load_module /usr/lib/nginx/modules/ngx_http_vhost_traffic_status_module.so;
  {{- end }}
  {{- range .Values.nginx.modules }}
  load_module {{ . }};
  {{- end }}

  error_log  /var/log/nginx/error.log warn;
  pid        /var/run/nginx.pid;

  events {
      worker_connections  1024;
  }

  http {
      real_ip_header {{ .Values.nginx.realIpHeader }};
      real_ip_recursive {{ .Values.nginx.realIpRecursive }};
      {{- range .Values.nginx.proxySourceRanges }}
      set_real_ip_from {{ . }};
      {{- end }}

      gzip on;
      gzip_disable "MSIE [1-6]\.(?!.*SV1)";
      gzip_comp_level 2;
      gzip_min_length 512;
      gzip_proxied any;
      gzip_vary on;
      gzip_types text/plain text/css image/svg+xml application/javascript application/x-javascript text/xml application/xml text/javascript application/json application/xml+rss application/vnd.api+json;

      brotli on;
      brotli_types text/plain text/css image/svg+xml application/javascript application/x-javascript text/xml application/xml text/javascript application/json application/xml+rss application/vnd.api+json;

      {{- if .Values.nginx.vts.enabled }}
      geoip_country       /etc/nginx/GeoIP.dat;
      geoip_city          /etc/nginx/GeoLiteCity.dat;
      geoip_proxy_recursive on;
      {{- range .Values.admin.nginx.proxySourceRanges }}
      geoip_proxy {{ . }};
      {{- end }}

      vhost_traffic_status_zone shared:vhost_traffic_status:{{ .Values.nginx.vts.statusZoneSize }};
      vhost_traffic_status_filter_by_set_key {{ .Values.nginx.vts.defaultFilterKey }};

      server {
          listen {{ .Values.nginx.vts.internalPort }};
          server_name _;

          location /healthz {
              access_log off;
              return 200;
          }

          location /nginx_status {
              vhost_traffic_status_display;
              vhost_traffic_status_display_format html;
          }
      }
      {{- end }}

      {{- if .Values.nginx.throttle }}
      # https://docs.sentry.io/server/throttling/
      limit_req_zone  $binary_remote_addr  zone=one:100m   rate=3r/s;
      limit_req_zone  $projectid  zone=two:100m   rate=6r/s;
      limit_req_status 429;
      limit_req_log_level warn;
      {{- end }}

      server {
          listen {{ .Values.service.internalPort }};

          proxy_set_header   Host                 $http_host;
          proxy_set_header   X-Forwarded-Proto    $scheme;
          proxy_set_header   X-Forwarded-For      $remote_addr;
          proxy_redirect     off;

          # keepalive + raven.js is a disaster
          keepalive_timeout 0;

          # use very aggressive timeouts
          proxy_read_timeout 5s;
          proxy_send_timeout 5s;
          send_timeout 5s;
          resolver_timeout 5s;
          client_body_timeout 5s;

          # buffer larger messages
          client_max_body_size 5m;
          client_body_buffer_size 100k;

          location = /healthz {
              access_log off;
              return 200;
          }

          location / {
              proxy_pass http://127.0.0.1:{{ .Values.service.externalPort }};
              add_header Strict-Transport-Security "max-age=31536000";
          }

          {{- if .Values.nginx.throttle }}
          # https://docs.sentry.io/server/throttling/
          location ~* /api/(?P<projectid>\d+/)?store/ {
              proxy_pass http://127.0.0.1:{{ .Values.service.externalPort }};
              limit_req  zone=one  burst=3  nodelay;
              limit_req  zone=two  burst=10  nodelay;
          }
          {{- end }}
      }
  }
{{- end }}
  {{- range $key, $value := .Values.configEnvs }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- range $key, $value := merge .Values.configFiles (include "sentry.inlineconfigs" . | fromYaml) }}
  {{ $key }}: |-
    {{- $value | nindent 4 }}
  {{- end }}
