apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{ template "sentry.fullname" . }}-worker
  labels:
    {{- include "sentry.labels.standard" . | nindent 4 }}
spec:
  replicas: {{ .Values.worker.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "sentry.name" . }}
        release: {{ .Release.Name }}
        role: worker
      annotations:
        {{- include "sentry.workloadAnnotations" . | nindent 8 }}
    spec:
      affinity:
        {{- if .Values.worker.additionalAffinities }}
        {{- toYaml .Values.worker.additionalAffinities | nindent 8 }}
        {{- end }}
        {{- if eq .Values.worker.antiAffinity "hard" }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app: {{ template "sentry.name" . }}
                  release: {{ .Release.Name }}
                  role: worker
        {{- else if eq .Values.worker.antiAffinity "soft" }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app: {{ template "sentry.name" . }}
                    release: {{ .Release.Name }}
                    role: worker
        {{- end }}
      containers:
        - name: worker
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: 
            - run
            - worker
          env:
            {{- include "sentry.environment" . | nindent 12 }}
          resources:
            {{- toYaml .Values.worker.resources | nindent 12 }}
