# Default values for osf-web.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 3

nginx:
  image:
    repository: gcr.io/cos-containers/nginx
    tag: '1'
    pullPolicy: Always
  resources: {}
    # limits:
    #   cpu: 1
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

preprints:
  image:
    repository: gcr.io/cos-containers/ember-preprints
    tag: develop-production-stage1
    pullPolicy: Always
  resources: {}
    # limits:
    #   cpu: 1
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

registries:
  image:
    repository: gcr.io/cos-containers/ember-osf-registries
    tag: develop-production-stage1
    pullPolicy: Always
  resources: {}
    # limits:
    #   cpu: 1
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

uwsgi:
  image:
    repository: gcr.io/cos-containers/osf
    tag: develop
    pullPolicy: Always
  resources: {}
    # limits:
    #   cpu: 1
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

service:
  name: http
  type: ClusterIP
  externalPort: 5000
  internalPort: 80

secrets:
  SENSITIVE_DATA_SALT: ''
  SENSITIVE_DATA_SECRET: ''
  OSF_DB_HOST: ''
  OSF_DB_NAME: ''
  OSF_DB_USER: ''
  OSF_DB_PASSWORD: ''
  admin-local.py: |-
    # -*- coding: utf-8 -*-
    import os

    # TBD...
  api-local.py: |-
    # -*- coding: utf-8 -*-
    import os

    # TBD...
  web-local.py: |-
    # -*- coding: utf-8 -*-
    import os

    # TBD...
  addons-box-local.py: |-
    # -*- coding: utf-8 -*-
    BOX_KEY = ''
    BOX_SECRET = ''
  addons-dataverse-local.py: |-
    # -*- coding: utf-8 -*-
    HOST = ''
  addons-dropbox-local.py: |-
    # -*- coding: utf-8 -*-
    DROPBOX_KEY = ''
    DROPBOX_SECRET = ''
  addons-figshare-local.py: |-
    # -*- coding: utf-8 -*-
    CLIENT_ID = ''
    CLIENT_SECRET = ''
  addons-github-local.py: |-
    # -*- coding: utf-8 -*-
    CLIENT_ID = ''
    CLIENT_SECRET = ''
  addons-googledrive-local.py: |-
    # -*- coding: utf-8 -*-
    CLIENT_ID = ''
    CLIENT_SECRET = ''
  addons-mendeley-local.py: |-
    # -*- coding: utf-8 -*-
    MENDELEY_CLIENT_ID = ''
    MENDELEY_CLIENT_SECRET = ''
  addons-osfstorage-local.py: |-
    # -*- coding: utf-8 -*-
    WATERBUTLER_CREDENTIALS = {
        'storage': {
            'region': '',
            'username': '',
            'token': '',
            'temp_key': '',
        },
        'parity': {
            'region': '',
            'username': '',
            'token': '',
            'temp_key': '',
        },
        'archive': {
            'access_key': '',
            'secret_key': '',
        },
    }

    WATERBUTLER_SETTINGS = {
        'storage': {
            'provider': '',
            'container': '',
            'use_public': True,
        },
        'parity': {
            'provider': '',
            'container': '',
            'use_public': True,
        },
        'archive': {
            'vault': '',
        },
    }

    WATERBUTLER_RESOURCE = 'container'
  addons-wiki-local.py: |-
    # -*- coding: utf-8 -*-
    from datetime import datetime

    SHAREJS_URL = ''
    WIKI_CHANGE_DATE = datetime.utcfromtimestamp('')
  addons-zotero-local.py: |-
    # -*- coding: utf-8 -*-
    ZOTERO_CLIENT_ID = ''
    ZOTERO_CLIENT_SECRET = ''

configs: {}
  # Override configmap files here (and delete the {} above), e.g.:
  # robots.txt: |-
  #   User-agent: *
  #   Disallow: /
